{% extends 'mysite/base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 100px">
    <div class="row" style="margin-top: 100px">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/Dcloud.jpg' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Desire alike Cloud</h5>
                    <p class="card-text">A poem about Comparison of Desires with Clouds.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/perfect.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Perfections Aren't Perfect</h5>
                    <p class="card-text">Imperfect says I'm perfect.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/RainEmo.jpg' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Rain And Emotions</h5>
                    <p class="card-text">When rain falls our emotions changes eventually.
                        This poem describes the Emotions of Rain.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 100px">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/coa.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">That Guy With Shut Lips</h5>
                    <p class="card-text">My Poem Published in the Book "Whisper of Hearts-1" to buy the book, click on image
                        of book cover in the navigation bar.
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/Best.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bestie</h5>
                    <p class="card-text">This poem tries to express our bond with a bestie.</p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}